/public/assets/images/creative/screen-recording-2026-04-28.mov filter=lfs diff=lfs merge=lfs -text
/public/assets/images/projects/musee-du-louvre/Animated[[:space:]]flowers.mov filter=lfs diff=lfs merge=lfs -text
/public/assets/images/projects/noise-xyz/Screen[[:space:]]Recording[[:space:]]2026-04-28[[:space:]]at[[:space:]]4.31.58 PM.mov filter=lfs diff=lfs merge=lfs -text
/public/assets/images/projects/noise-xyz/Sizzle.mp4 filter=lfs diff=lfs merge=lfs -text
